$mint : #83E5CE;
$orange: #FFA66E;
$light-orange: lighten($orange, 10%); 
$trans-orange: rgba(255, 166, 110, 0.85);
$dark-trans-orange: darken($trans-orange, 40%);
$yellow: #FFD350;
$pink: 	#F2A6C4;
$blue: #25B6CB;
$lila: #B092C4;
$light: white;
$header: Asul, 'Lucida Sans', 'Lucida Sans Regular',  Geneva, Verdana, sans-serif;
$paragraph: Montserrat, 'Courier New', Courier, monospace;
$itemInfoPadding: 10px;
$itemImgWidth: 300px;
$itemInfoMargin: 10px;
$menu-speed: 0.75s;

// Breakpoints >>
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }