$mint : #83E5CE;
$orange: 	#FFA66E;
$yellow: #FFD350;
$pink: 	#F2A6C4;
$blue: #25B6CB;
$lila: #B092C4;
$header: Asul, 'Lucida Sans', 'Lucida Sans Regular',  Geneva, Verdana, sans-serif;
$paragraph: Montserrat, 'Courier New', Courier, monospace;
$itemInfoPadding: 10px;
$itemImgWidth: 300px;
$itemInfoMargin: 10px;
