.head {
  top: 0;
  background: $mint;
  max-width: 100%;
  padding-left: 20rem;
  min-height: 5rem;
  background-color: $mint;
  * {
    font-family: $paragraph;
  }

  header{
    h1 {
      font-size: 8rem;
      display: inline-block;
      margin: 1rem 0;
    }
    img {
      padding-left: 1rem;
      margin-bottom: -2.5rem;
      display: inline-block;
      width: 10rem;
    }
}
nav{
  .dropdown:hover {
    .dropbutton {
      background-color: white;
      color: $orange;
    }
    .dropdown-content {display: block;}
  }
    .nav-item{
        position: relative;
        display: inline-block;
        color: white;
        background: $orange;
        
        .dropdown-content{
            text-decoration: none;
            position: absolute;
            z-index: 1;
            color: $orange;
            border: 1px solid grey;
            :hover{
                background-color: $orange;
                color: white;
            }
            a{
                padding: 1rem 1.5rem;
                display: block;
                background: white;
                text-decoration: none;
                color: black;
                border-bottom: 1px solid grey;
            }
        }
        button.dropbutton {
            background: $orange;
            color: white;
            outline: inherit;
            font-size: 1.5rem;
            border: 1.5px solid grey;
            padding: 0.5rem 1rem;
            text-transform: capitalize;
            
            :hover {
                background: lighten($orange, 35%);
            }
            .active{
                background: white;
                color: $orange;
            }
        }
        .hidden{
          display: none;
      }
        .active{
            background: white;
            color: $orange;
        }
    }
    .search{
        a.navbutton {
            float: right;
            color: white;
            background: $orange;
            :hover {
                background: lighten($orange, 35%);
            }
        }
        .navbutton, input{
            outline: inherit;
            padding: 0.5rem 1rem;
            font-size: 1.5rem;
            :hover {
                background: lighten($orange, 35%);
            }
        }
        input {
            width: max;
            border: 1.5px solid grey;
        }
    }
    :hover {
        background: lighten($orange, 35%)
    }
    .active{
        background: white;
        color: $orange;
    }
}
.navbutton{
    outline: inherit;
    font-size: 1.5rem;
    background: white;
    border: 1.5px solid grey;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    text-decoration: none;
}
}