.login-form {
  .form-group {
    margin: 1rem 0;
    label, input {
      font-size: 1.5rem;
    }
    input {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      font-size: 2rem;
      background-color: $orange;
      color: white;
      font-weight: bolder;
      border: 1.5px solid grey;
      padding: 0.2rem; 
    }
  }
}