@import 'config';

.headline-generic h3 {
    font-size: 22px;
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    h4 {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    @include sm {

    }
    @include md {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    @include lg {

    }
    form {
        display: flex;
        flex-direction: column;
        ul {
            margin: auto;
            padding-left: 0;
            li {
                list-style: none;
                margin-top: 1rem;
                margin: auto;
                text-align: center;
                label {
                    display: block;
                }
                input {
                    display: inline-block;
                }
            }
        }
        .form-ul {
            li {
                float: left;
                .input-radio {
                    display:inline-block;
                }
                .input-radio-label {
                    display:inline-block;
                    margin-top: 2rem;
                }
            }
        }
    }
    .button-container {
        margin-top: 2rem;
        button {
            min-height: 3rem;
            display: block;
            margin: auto;
            margin-top: 3rem;
            color: white;
            background: $orange;
        }
        button:hover {
            background: lighten($orange, 10%);
            color: white;
        }
    }
}