/*
Error: Invalid CSS after "...verflow: hidden": expected "{", was ";"
        on line 158 of C:\Users\nikoh\kraken\Exotic-Snackstore\frontend\src\style\reference.scss

153:         border: 1.5px solid grey;
154:         padding: 0.5rem 1rem;
155:         text-transform: capitalize;
156:         text-decoration: none;
157:     }
158:     overflow: hidden;
159:     background-color: $mint;
160:     position: relative;
161:     .myLinks {
162:         display: none;
163:     }

Backtrace:
C:\Users\nikoh\kraken\Exotic-Snackstore\frontend\src\style\reference.scss:158
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...verflow: hidden\": expected \"{\", was \";\"\A         on line 158 of C:\Users\nikoh\kraken\Exotic-Snackstore\frontend\src\style\reference.scss\A \A 153:         border: 1.5px solid grey;\A 154:         padding: 0.5rem 1rem;\A 155:         text-transform: capitalize;\A 156:         text-decoration: none;\A 157:     }\A 158:     overflow: hidden;\A 159:     background-color: $mint;\A 160:     position: relative;\A 161:     .myLinks {\A 162:         display: none;\A 163:     }"; }
