/*
html,
body {
   margin:0;
   padding:0;
   height:100%;
   display: flex;
   flex-direction: column;
   background-color: lighten($orange, 30%);
}
.head {
    top: 0;
    background: $mint;
    max-width: 100%;
    padding-left: 20rem;
    min-height: 70px;
}
*/
.content-shell {
  margin-left: 15rem;
  width: auto;
  min-width: 65%;
  max-width: 80%;
  position: relative;
  padding-bottom: 2.5rem;
  font-family: 'Montserrat', Arial;
  background-color: white;
  min-height: 40vh;
}

.container {
  position: relative;
  min-height: 100vh;
  margin-top: -3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.shoppingCart {
  margin-top: 50px;
  height: 50px;
  max-height: 50px;
  max-width: 100px;
  float: right;
}

.shoppingCart .fa-shopping-cart {
  color: #83E5CE;
  font-size: 40px;
  float: right;
}

.shoppingCart .productCount {
  background-color: #F2A6C4;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  text-align: center;
  float: right;
}

.shoppingCart .productCount p {
  margin-top: 0.10em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
}

.itemPageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemPageContainer i {
  color: gold;
}

.itemPageContainer img {
  margin-top: 40px;
  max-width: 220px;
  max-height: auto;
}

.itemPageContainer .desc {
  max-width: 50%;
}

.itemPageContainer .item-forms select {
  width: 80px;
}

.itemPageContainer .item-forms input {
  width: 76px;
}

.itemPageContainer .item-forms button {
  border: grey solid 1.5px;
  background-color: #FFA66E;
  color: white;
  padding: 0.2rem;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
}

.itemPageContainer .item-forms button:hover {
  background-color: #ffc5a1;
}

.itemPageContainer .item-forms button:last-child {
  margin-left: 50px;
}

.itemPageContainer .item-forms .rating-form {
  margin-bottom: 20px;
  margin-top: 20px;
}

.itemPageContainer .item-forms .rating-form label {
  display: block;
}

.admin-tools {
  display: inline-block;
}

.admin-tools .tool {
  font-size: 2rem;
  text-align: center;
  border: grey solid 1px;
  padding: 3rem 0;
  width: 12rem;
  background-color: orange;
  color: white;
  float: left;
  margin-right: 3rem;
}

.admin-tools .tool:hover {
  background-color: #ffc5a1;
}

.admin-tools .adminLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.admin-tools .block {
  display: block;
}

.admin-table {
  margin-bottom: 2rem;
}

.admin-table th {
  font-size: 1.2rem;
}

.admin-table th, .admin-table td {
  text-align: center;
  padding: 0 1rem;
}

.admin-table button, .admin-table a {
  border: solid 1.5px #ffc5a1;
  background-color: #FFA66E;
  color: white;
  padding: 0.2rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.admin-table button:hover {
  background-color: #ffc5a1;
}

.admin-table .link-as-button {
  padding: 0.2rem 1rem;
  text-decoration: none;
}

.admin-table td, .admin-table th.fitwidth {
  width: 1px;
  white-space: nowrap;
}

.admin-link {
  color: #FFA66E;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-right: 3rem;
}

.new-product-form {
  margin-left: 2rem;
}

.new-product-form .form-group {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.new-product-form .form-group input, .new-product-form .form-group select {
  font-size: 1.2rem;
}

.new-product-form .form-group label {
  margin-right: 0.5rem;
}

.new-product-form .form-group .submit-button {
  border: grey solid 1.5px;
  background-color: #FFA66E;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.new-product-form .form-group button:hover {
  background-color: #ffc5a1;
}

footer {
  margin: 3rem auto 0 auto;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #83E5CE;
  color: black;
  text-align: center;
  padding: 1.5rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts .contact-card {
  float: left;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 30rem;
  border: 1.5px solid grey;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: #FFA66E;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  zoom: 100%;
  -webkit-transition: zoom 2s;
  transition: zoom 2s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.contacts .contact-card h3, .contacts .contact-card span {
  margin: 0;
}

.contacts .contact-card span {
  white-space: nowrap;
}

.contacts .contact-card:nth-child(even) {
  margin: 0 3rem;
}

.contacts .contact-card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about {
  font-size: 1.5rem;
}

.generic-container {
  font-family: 'Montserrat';
  margin: 3rem;
  padding-top: 3rem;
  width: 90%;
}

.generic-container .order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generic-container .order-form form label {
  display: block;
}

.generic-container .order-form form input {
  max-width: 300px;
  margin-bottom: 10px;
}

.generic-container .order-form .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generic-container .order-form .button-container button {
  border: grey solid 1.5px;
  background-color: #FFA66E;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.generic-container .order-form .button-container button:hover {
  background-color: #ffc5a1;
}

.generic-container .order-form .button-container button:last-child {
  margin-left: 100px;
}

.generic-container .item-shoppingcart {
  border-bottom: 1px solid gray;
}

.generic-container .item-shoppingcart .total {
  text-decoration: underline;
}

.generic-container .item-shoppingcart .cart-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
}

.generic-container .item-shoppingcart .cart-actions .item-remove {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.generic-container .item-shoppingcart .cart-actions .item-add {
  font-size: 1.5rem;
  color: green;
  margin-right: 50px;
  cursor: pointer;
}

.generic-container .item-shoppingcart .cart-actions .item-decrease {
  font-size: 1.5rem;
  color: red;
  margin-right: 50px;
  cursor: pointer;
}

.generic-container .cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.generic-container .cart-bottom .cart-total {
  text-decoration: underline;
}

.generic-container .cart-bottom a {
  margin-left: auto;
}

.generic-container .cart-bottom a button {
  border: grey solid 1.5px;
  background-color: #FFA66E;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.generic-container .cart-bottom a button:hover {
  background-color: #ffc5a1;
}

.generic-container .order-details {
  margin-left: 5px;
}

.generic-container .order-buttons button {
  border: grey solid 1.5px;
  background-color: #FFA66E;
  color: white;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.generic-container .order-buttons button:hover {
  background-color: #ffc5a1;
}

.generic-container .order-buttons button:last-child {
  margin-left: 50px;
}

.item-shoppingcart:first-of-type {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.generic-container-no-top {
  margin: 0 3rem;
}

.invalid {
  border-left: 10px solid red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.capitalize {
  text-transform: capitalize;
}

.big-i {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

div.searchContent {
  margin-left: 10rem;
}

#main {
  margin-top: 3rem;
  top: 50%;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  grid-column-gap: 5rem;
  font-family: 'Montserrat';
}

#main .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main .item .product-name {
  max-width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main .item i {
  color: gold;
}

#main .item img {
  max-width: 300px;
}

#main .item p, #main .item h2 {
  margin: 10px;
}

#main .item p span, #main .item h2 span {
  float: right;
}

#main .item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .item .itemAddForm {
  margin-left: auto;
}

#main .item .itemAddForm input[type=number]::-webkit-inner-spin-button,
#main .item .itemAddForm input[type=number]::-webkit-outer-spin-button {
  font-size: 14px;
}

div.item {
  zoom: 100%;
  -webkit-transition: zoom 2s;
  transition: zoom 2s;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

div.item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
/*# sourceMappingURL=reference.css.map */