@import 'config';
/*
html,
body {
   margin:0;
   padding:0;
   height:100%;
   display: flex;
   flex-direction: column;
   background-color: lighten($orange, 30%);
}
.head {
    top: 0;
    background: $mint;
    max-width: 100%;
    padding-left: 20rem;
    min-height: 70px;
}
*/
.content-shell{
    margin-left: 15rem;
    width: auto;
    min-width: 65%;
    max-width: 80%;
    position: relative;
    padding-bottom: 2.5rem;
    font-family: 'Montserrat', Arial;
    background-color: white;
    min-height: 40vh;
}
.container {
    position: relative;
    min-height: 100vh;
    margin-top: -3rem;
}
.mb3 {
    margin-bottom: 3rem;
}

.shoppingCart {
    margin-top: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 100px;
    float: right;
    .fa-shopping-cart{
        color: $mint;
        font-size: 40px;
        float: right;
    }
    .productCount {
        background-color: $pink;
        border-radius: 100%;
        height: 2em;
        width: 2em;
        text-align: center;
        float:right;
        p {
            margin-top: 0.10em;
            font-size: 1.5em;
            font-weight: bold;
            font-family: sans-serif;
            color: black;
        }
    }
}
.itemPageContainer {
    display: flex;
    flex-direction: column;
    i {
        color: gold;
    }
    img {
        margin-top: 40px;
        max-width: 220px;
        max-height: auto;
    }
    .desc {
        max-width: 50%;
    }
    .item-forms {
        select {
            width: 80px;
        }
        input {
            width: 76px;
        }
        button {
            border: grey solid 1.5px;
            background-color: $orange;
            color: white;
            padding: 0.2rem;
            font-family: 'Montserrat';
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            width: 150px;
        }
        button:hover {
            background-color: lighten($orange, 10%)
        }
        button:last-child {
            margin-left: 50px;
        }
        .rating-form {
            label {
                display: block;
            }
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}

.admin-tools {
    display: inline-block;
    .tool{
        font-size: 2rem;
        text-align: center;
        border: grey solid 1px;
        padding: 3rem 0;
        width: 12rem;
        background-color: orange;
        color: white;
        float: left;
        margin-right: 3rem;
    }
    .tool:hover {
        background-color: lighten($orange, 10%);
    }
    .adminLink {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .block{
        display: block;
    }
}
.admin-table {
    margin-bottom: 2rem;
    th {
        font-size: 1.2rem;
    }
    th, td {
        text-align: center;
        padding: 0 1rem;
    }
    button, a {
        border: solid 1.5px lighten($orange, 10%);
        background-color: $orange;
        color: white;
        padding: 0.2rem 1rem;
        font-family: 'Montserrat';
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover {
        background-color: lighten($orange, 10%)
    }
    .link-as-button {
        padding: 0.2rem 1rem; 
        text-decoration: none;
    }
    td, th.fitwidth {
        width: 1px;
        white-space: nowrap;
    }
}
.admin-link {
    color: $orange;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 3rem;
}
.new-product-form {
    margin-left: 2rem;
    .form-group {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        input, select {
            font-size: 1.2rem;
        }
        label {
            margin-right: 0.5rem;
        }
        .submit-button{
            border: grey solid 1.5px;
            background-color: $orange;
            color: white;
            padding: 0.5rem 1rem;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
        }
        button:hover {
            background-color: lighten($orange, 10%)
        }
    }
}
footer{
    margin: 3rem auto 0 auto;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $mint;
    color: black;
    text-align: center;
    padding: 1.5rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
}
.contacts {
    display: flex;
    justify-content: center;
    .contact-card {
        float: left;
        align-content: center;
        max-width: 30rem;
        border: 1.5px solid grey;
        padding: 1rem 1.5rem;
        text-align: center;
        background-color: $orange;
        color: white;
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: bold;
        zoom: 100%;
            transition: zoom 2s;
            transition: transform 0.3s ease-in-out;
        h3, span {
            margin: 0;
        }
        span {
            white-space:nowrap;
        }
        &:nth-child(even) {
            margin: 0 3rem;
        }
        &:hover {
            transform: scale(1.2);
            transition-duration: 0.2s;
        }
    }
}
.about{
    font-size: 1.5rem;
}
.generic-container {
    font-family: 'Montserrat';
    margin:  3rem;
    padding-top: 3rem;
    width: 90%;
    .order-form {
        display:flex;
        flex-direction: row;
        form {
            label {
                display: block;
            }
            input {
                max-width: 300px;
                margin-bottom: 10px;
            }
        }
        .button-container {
            display: flex;
            flex-direction: row;
            button {
                border: grey solid 1.5px;
                background-color: $orange;
                color: white;
                padding: 0.5rem 1rem;
                font-family: 'Montserrat';
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover {
                background-color: lighten($orange, 10%)
            }
            button:last-child {
                margin-left: 100px;
            }
        }
    }
    .item-shoppingcart {
        border-bottom: 1px solid gray;
        .total {
            text-decoration: underline;
        }
        .cart-actions {
            display: flex;
            flex-direction: row;
            width: 60%;
            .item-remove {
                font-size: 1.5rem;
                color: black;
                cursor: pointer;
            }
            .item-add {
                font-size: 1.5rem;
                color: green;
                margin-right: 50px;
                cursor: pointer;
            }
            .item-decrease {
                font-size: 1.5rem;
                color: red;
                margin-right: 50px;
                cursor: pointer;
            }
        }
    }
    .cart-bottom {
        display: flex;
        flex-direction: row;
        .cart-total {
            text-decoration: underline;
        }
        a {
            margin-left: auto;
            button {
                border: grey solid 1.5px;
                background-color: $orange;
                color: white;
                padding: 0.5rem 1rem;
                font-family: 'Montserrat';
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover {
                background-color: lighten($orange, 10%)
            }
        }
    }
    .order-details {
        margin-left: 5px;
    }
    .order-buttons {
        button {
            border: grey solid 1.5px;
            background-color: $orange;
            color: white;
            padding: 0.5rem 1rem;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
        }
        button:hover {
            background-color: lighten($orange, 10%)
        }
        button:last-child {
            margin-left: 50px;
        }
    }
}
    .item-shoppingcart:first-of-type {
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
    }
.generic-container-no-top {
    margin: 0 3rem;
}
.invalid {
    border-left: 10px solid red;
}
.red {
    color: red;
}
.green {
    color: green;
}
.capitalize {
    text-transform: capitalize;
}
.big-i{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
div.searchContent {
    margin-left: 10rem;
}
#main {
    margin-top: 3rem;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 5rem;
    font-family: 'Montserrat';
    .item {
        // border: 1px solid gray;
        padding: $itemInfoPadding;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        align-content: center;
        .product-name {
            max-width: auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

        }
        i {
            color: gold;
        }
        img {
            max-width: $itemImgWidth;
        }
        p, h2 {
            margin: $itemInfoMargin;
            span {
                float:right;
            }
        }
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .itemAddForm {
            margin-left: auto;
            // Forces the arrows to show on inputs with number type.
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                font-size: 14px;
            }
        }
    }
}
div.item {
    zoom: 100%;
    transition: zoom 2s;
    transition: transform 0.3s ease-in-out;
}
div.item:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
}