@import 'config';
@import 'header';
@import 'shoppingcart';
@import 'main';
@import 'footer';
@import 'itempage';
@import 'search';
@import 'about-contact';
@import 'shoppingcart-page';
@import 'payment-and-delivery';
@import 'order-review';
html,
body {
   margin:0;
   height:100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: $pink;
   font-family: $paragraph;
}
* {
    font-family: $paragraph;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
    padding: 0;
}

