$itemInfoPadding: 10px;
$itemImgWidth: 300px;
$itemInfoMargin: 10px;
.container{
    margin: 0 auto;
    border: 1px solid red;
    width: 90%;
}
header{
    h1{
        font-size: 6rem;
        font-family: 'Concert One', sans-serif;
    }
}
nav{
    font-family: 'Montserrat';
    .dropdown{
        :hover{
            background-color: grey;
        }
    }
    .active{
        background: grey;
    }
    .nav-item{
        position: relative;
        display: inline-block;
        .dropdown-content{
            position: absolute;
            z-index: 1;
            :hover{
                background-color: grey;
            }
            a{
                padding: 0.5rem 1rem;
                display: block;
                background: white;
                text-decoration: none;
            }
        }
        .dropbutton{
            outline: inherit;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            background: white;
            border: 1.5px solid grey;
            padding: 0.5rem 1rem;
            text-transform: capitalize;
            
            :hover{
                background-color: grey;
            }
        }
        .hidden{
            display: none;
        }
        .nonHidden{
            visibility: visible; 
        }
    }
    .search{
        .nav-button, input{
            outline: inherit;
            padding: 0.5rem 1rem;
            font-family: 'Montserrat';
            font-size: 1.5rem;
        }
    }
}
footer{
    p{
        font-size: 1.5rem;
        text-align: center;
    }
}

#main {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-column-gap: 50px;
    font-family: 'Montserrat';
    .item {
        // border: 1px solid gray;
        padding: $itemInfoPadding;
        display: flex;
        flex-direction: column;
        img {
            max-width: $itemImgWidth;
        }
        p, h2 {
            margin: $itemInfoMargin;
            span {
                float:right;
            }
        }
        .itemAddForm {
            margin-left: auto;
            // Forces the arrows to show on inputs with number type.
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                font-size: 14px;
            }
        }
    }
}