html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-left: 20rem;
  border: 1px solid green;
  width: 65%;
  position: relative;
  padding-bottom: 60px;
  padding-bottom: 2.5rem;
}

.head {
  top: 0;
  background: #ffb733;
  width: 100%;
  padding-left: 20rem;
  min-height: 70px;
}

header {
  padding: 2rem;
}

header * {
  display: inline-block;
}

header .headerH1 {
  font-size: 8rem;
  color: black;
  text-decoration: none;
  font-family: 'Concert One', sans-serif;
}

header img {
  width: 150px;
}

nav {
  font-family: 'Montserrat';
}

nav .nav-item {
  position: relative;
  display: inline-block;
  color: white;
  background: orange;
}

nav .nav-item .active {
  background: white;
  color: orange;
}

nav .nav-item .dropdown-content {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  color: orange;
  border: 1px solid grey;
}

nav .nav-item .dropdown-content :hover {
  background-color: orange;
  color: white;
}

nav .nav-item .dropdown-content a {
  padding: 1rem 1.5rem;
  display: block;
  background: white;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid grey;
}

nav .nav-item button.dropbutton {
  background: orange;
  color: white;
  outline: inherit;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  border: 1.5px solid grey;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

nav .nav-item button.dropbutton :hover {
  background: #ffe4b3;
}

nav .nav-item button.dropbutton .active {
  background: white;
  color: orange;
}

nav .nav-item .hidden {
  display: none;
}

nav .nav-item .nonHidden {
  visibility: visible;
}

nav .nav-item .active {
  background: white;
  color: orange;
}

nav .search a.navbutton {
  float: right;
  color: white;
  background: orange;
}

nav .search a.navbutton :hover {
  background: #ffe4b3;
}

nav .search .navbutton, nav .search input {
  outline: inherit;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

nav .search .navbutton :hover, nav .search input :hover {
  background: #ffe4b3;
}

nav .search input {
  width: max;
  border: 1.5px solid grey;
}

nav :hover {
  background: #ffe4b3;
}

nav .active {
  background: white;
  color: orange;
}

.navbutton {
  outline: inherit;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  background: white;
  border: 1.5px solid grey;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  text-decoration: none;
}

footer {
  margin: auto auto 0 auto;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange;
  color: black;
  text-align: center;
  padding: 2.5rem 0;
}

.about {
  font-family: 'Montserrat';
  margin: 3rem;
  width: 90%;
}

.contact {
  font-family: 'Montserrat';
  margin: 3rem;
  width: 90%;
}

.contact .contact-card {
  display: inline-block;
}

#main {
  top: 50%;
  left: 50%;
  border: 1px solid blue;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  grid-column-gap: 50px;
  font-family: 'Montserrat';
}

#main .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .item img {
  max-width: 300px;
}

#main .item p, #main .item h2 {
  margin: 10px;
}

#main .item p span, #main .item h2 span {
  float: right;
}

#main .item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main .item .itemAddForm {
  margin-left: auto;
}

#main .item .itemAddForm input[type=number]::-webkit-inner-spin-button,
#main .item .itemAddForm input[type=number]::-webkit-outer-spin-button {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */