$itemInfoPadding: 10px;
$itemImgWidth: 300px;
$itemInfoMargin: 10px;
.container{
    margin: 0 auto;
    border: 1px solid red;
    width: 90%;
}
header{
    h1{
        font-size: 6rem;
        font-family: 'Concert One', sans-serif;
    }
}
nav{
    margin: 0;
    padding: 0;
    overflow: hidden;
    .nav-item{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown{
        .dropbutton{
            text-transform: capitalize;
        }
        .hidden{
            display: none;
        }
        .nonHidden{
            visibility: visible; 
        }
    }
}
footer{
    p{
        font-size: 1.5rem;
        text-align: center;
    }
}

#main {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-column-gap: 50px;
    font-family: 'Montserrat';
    .item {
        // border: 1px solid gray;
        padding: $itemInfoPadding;
        display: flex;
        flex-direction: column;
        img {
            max-width: $itemImgWidth;
        }
        p, h2 {
            margin: $itemInfoMargin;
            span {
                float:right;
            }
        }
    }
}